@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-rbg: 255, 255, 255;
  }
}

* {
  scroll-behavior: smooth !important;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.text-outline {
  text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

.text-outline-dark {
  text-shadow: 1px 1px 0 #000C24, -1px -1px 0 #000C24, 1px -1px 0 #000C24,
    -1px 1px 0 #000C24, 1px 1px 0 #000C24;
}

.diagonal-clip-start {
  clip-path: polygon(0 0, 0 90%, 100% 100%, 100% 0);
}

.diagonal-clip-end {
  clip-path: polygon(0 0, 0 100%, 100% 90%, 100% 0);
}

.h-150 {
  height: 150% !important;
}
